{% extends 'base.html' %}

{% block content %}
{% load static%}
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">About Us</h1>
      </div>
    </div>
    <div class="container">
      <div class="card text-center">
        <div class="card-body">
            <h4 id="two">This project is done for course requirement of Database Systems (CS254). </h4><br>
            <h2>Our Team</h2><br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card bg-dark">
                        <center><img class="card-img-top" id="pro" src="https://scontent.fnag1-3.fna.fbcdn.net/v/t1.0-0/p526x296/42881907_680051742394742_3358782747526037504_o.jpg?_nc_cat=111&_nc_sid=84a396&_nc_ohc=_4GE7jnXJhAAX-er6Zg&_nc_ht=scontent.fnag1-3.fna&_nc_tp=6&oh=26eadcbaf4c21ff653884541be323f01&oe=5F1139FF" alt="Responsive image" width="10"></center>
                        <div class="card-body">
                          <h4 class="card-title">Atul Patil</h4>
                          <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"></i> iamatul45@gmail.com</p>
                          <center>
                            <div class="icon-container">
                              <a href="https://www.facebook.com/profile.php?id=100011697662773"><i class="fa fa-facebook-square" style="font-size:36px;"  aria-hidden="true"></i></a>&nbsp;&nbsp;
                              <a href="https://www.linkedin.com/in/atul-p-98971112b/"><i class="fa fa-linkedin-square" style="font-size:36px"  aria-hidden="true"></i></a>&nbsp;&nbsp;
                             <a href="https://github.com/iamatul45"> <i class="fa fa-github-square" style="font-size:36px"  aria-hidden="true"></i></a>
                            </div>
                          </center>
                        </div>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="card bg-dark">

                        <center><img class="card-img-top" id="pro" src="https://scontent.fnag1-2.fna.fbcdn.net/v/t1.0-9/41746966_2102925343263374_9105554624294682624_o.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_ohc=pjCI6rINRhoAX_HAsoN&_nc_ht=scontent.fnag1-2.fna&oh=16b11ffd7e068344daa1aee2e94718bb&oe=5F1125F2" alt="Responsive image"></center>
                        <div class="card-body">
                          <h4 class="card-title">Yash Kumar</h4>
                          <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"></i> yashkpalnitk@gmail.com</p>
                          <center>
                            <div class="icon-container">
                              <a href="https://www.facebook.com/profile.php?id=100006377862758"><i class="fa fa-facebook-square" style="font-size:36px;"  aria-hidden="true"></i></a>&nbsp;&nbsp;
                              <a href=""><i class="fa fa-linkedin-square" style="font-size:36px"  aria-hidden="true"></i></a>&nbsp;&nbsp;
                             <a href="https://github.com/yashkpal"> <i class="fa fa-github-square" style="font-size:36px"  aria-hidden="true"></i></a>
                            </div>
                          </center>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </div>
    </div><br><br>

    
{% endblock %}