{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">Your Profile</h1>
      </div>
    </div>
    <div class="container">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title"> <i class="fa fa-user" aria-hidden="true"></i> Name : {{user.first_name}} {{user.last_name}}</h4>
          <h4 class="card-title"> <i class="fa fa-envelope" aria-hidden="true"></i> Email : {{user.email}}</h4>
          <h4 class="card-title"> <i class="fa fa-at" aria-hidden="true"></i> username : {{user.username}}</h4>
          <h4 class="card-title"> <i class="fa fa-sign-in" aria-hidden="true"></i> Last Activity : {{user.last_login}}</h4>
        </div>
      </div>
    </div>

    
{% endblock %}